.sort-filter-menu {
    min-height: 60px;
    position: fixed;
    width: 100%;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.advisor-list-container {
    margin-top: 56px;
    padding-top: 72px;
}